/* Definieer aangepaste achtergrondkleuren en stijlen voor de dia's */
.blue-slide {
    background-color: aqua; /* Achtergrondkleur voor de blauwe dia */
  }
  
  .red-slide {
    background-color: #ff6961; /* Achtergrondkleur voor de rode dia */
  }
  
  /* Optioneel: Pas de stijl van de inhoud van de dia's aan */
  [nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    color: #fff; /* Tekstkleur voor de inhoud van de dia's */
    overflow: hidden;
  }
  
  h3 {
    margin-bottom: 0;
    user-select: none;
  }

/* Stijl voor de achtergrond van de schakelaar */
.nz-switch {
  background-color: #e2e2e2; /* Verander de achtergrondkleur */
}

/* Stijl voor de knop van de schakelaar */
.nz-switch-handle {
  background-color: #1890ff; /* Verander de kleur van de knop */
}

/* Stijl voor de rand van de schakelaar */
.nz-switch-inner {
  border-color: #1890ff; /* Verander de kleur van de rand */
}
